# Clang-Format style settings
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true
AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBinaryOperators: NonAssignment
DerivePointerAlignment: false

IncludeBlocks: Preserve
SortIncludes: CaseInsensitive

MaxEmptyLinesToKeep: 1

QualifierAlignment: Custom
QualifierOrder: [inline, static, volatile, const, type]

# HLSL
NamespaceIndentation: None
AllowShortIfStatementsOnASingleLine: WithoutElse
