[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/nvapi"]
	path = external/nvapi
	url = https://github.com/NVIDIA/nvapi
[submodule "external/nvidia-dlss"]
	path = external/nvidia-dlss
	url = https://github.com/NVIDIA/DLSS.git
[submodule "external/reshade"]
	path = external/reshade
	url = https://github.com/pmnoxx/reshade.git
	branch = main
[submodule "external/Streamline"]
	path = external/Streamline
	url = https://github.com/NVIDIA-RTX/Streamline
[submodule "external/vulkan-headers"]
	path = external/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
