*.*
**/*.*
**/**/*.*
**/**/**/*.*
**/**/**/**/*.*
**/**/**/**/**/*.*
**/**/**/**/**/**/*.*
**/**/**/**/**/**/**/*.*
**/**/**/**/**/**/**/**/*.*
**/**/**/**/**/**/**/**/**/*.*
**/**/**/**/**/**/**/**/**/**/*.*
**/**/**/**/**/**/**/**/**/**/**/*.*


# CMake build directories
build/
build32/
out/
_build/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

# Visual Studio
.vs/
*.sln
*.vcxproj*

# IDE metadata
.idea/
.vscode/
.cursor/

# Vim swap files
*.swp

# OS junk
Thumbs.db
Desktop.ini

# Binary outputs
*.dll
*.pdb
*.lib
*.exp
*.iobj
*.ipdb
*.obj
*.ilk

# Logs
*.log

bd.ps1
bd32.ps1

# tmp
tmp/

# external source code for viewing only
external-src/

# cache
.cache/

# Cursor IDE exceptions
.cursor
!.cursor/rules/project_structure.mdc

# user settings
imgui.ini

# Docs not commited to the repo
private_docs

# whitelist

# excluded
!src/**/*.hpp
!src/**/*.cpp
!src/**/**/*.hpp
!src/**/**/*.cpp
!src/**/**/**/*.hpp
!src/**/**/**/*.cpp
!src/**/**/**/**/*.hpp
!src/**/**/**/**/*.cpp
!src/**/**/**/**/**/*.hpp
!src/**/**/**/**/**/*.cpp
!src/**/**/**/**/**/**/*.hpp
!src/**/**/**/**/**/**/*.cpp
!src/**/**/**/**/**/**/**/*.hpp
!src/**/**/**/**/**/**/**/*.cpp

!src/addons/display_commander/proxy_dll/exports.def
!src/addons/display_commander/proxy_dll/exports_addon_only.def
!src/addons/display_commander/proxy_dll/opengl32.def
!src/addons/display_commander/proxy_dll/version.rc.in
!src/addons/display_commander/version_config.hpp.in

# .github
!.github/
!.github/FUNDING.yml
!.github/workflows/*.yml


# res
!src/addons/display_commander/ui/forkawesome.h
# .files
!.clang-format
!.clang-tidy
!.editorconfig
!.gitignore
!.gitmodules

# external
!external/

# ROOT
!THIRD_PARTY_NOTICES.txt
!CHANGELOG.md
!CMakeLists.txt
!CMakePresets.json
!README.md
!SUMMARY.md
!SUPPORT.md
!reshade-display-commander.code-workspace

# include
!include/reshade_imgui.hpp

!scripts/display_commander_installer_windows.bat


!external/reshade_includes/reshade_events.hpp
!external/reshade_includes/reshade_overlay.hpp
!src/addons/display_commander/proxy_dll/opengl32_proxy_gl.h
!src/addons/display_commander/res/effects/ReShade.fxh
!src/addons/display_commander/res/effects/color.fxh


#  git ls-files -ic --exclude-standard
external-private/
external-private/display-commander2-modules